.button-inline {
  border: 0;
  cursor: pointer;
  font-size: inherit;
  transition: all .2s;
  display: inline-block;
  padding-bottom: .2rem;
  color: $color-primary;
  background-color: transparent;
  border-bottom: .1rem solid currentColor;

  & span {
    margin-left: .3rem;
    transition: margin-left .2s;
  }

  &:hover {
    color: $color-grey--dark-1;

    span {
      margin-left: .8rem;
    }
  }

  &:focus {
    outline: none;
    animation: pulsate 1s infinite;
  }
}

.button {
  border: 0;
  color: #fff;
  cursor: pointer;
  overflow: hidden;
  font-weight: 300;
  font-size: 1.5rem;
  position: relative;
  border-radius: 10rem;
  text-transform: uppercase;
  background-image: linear-gradient(
    to right, $color-primary--light, $color-primary--dark);

  &__visible,
  &__invisible {
    width: 100%;
    height: 100%;
    transition: all .2s;
    display: inline-block;
  }

  &__visible {
    padding: 2rem 7.5rem;
  }

  &__invisble {
    left: 0;
    top: -100%;
    padding: 2rem 0;
    position: absolute;
  }

  &:hover {
    background-image: linear-gradient(
      to left, $color-primary--light, $color-primary--dark);
  }

  &:hover &__visible {
    transform: translateY(100%);
  }

  &:hover &__invisible {
    top: 0;
  }

  &:focus {
    outline: none;
    animation: pulsate 1s infinite;
  }
}